@page
@model 			IndexModel
@{
}

@section Scripts {
    <environment include="Development">
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    </environment>
    <environment include="Production">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"
            integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
            asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"
            integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
            asp-fallback-src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    </environment>
}

    <div class="d-flex">
        <div class="d-flex flex-column w-50">
            <img id="login-img" src="/img/app/login-img.jpg" alt="Login Image" />
        </div>
        <div class="d-flex flex-column w-50 w-lg-100 my-auto p-5e">
            <form id="loginForm" method="post">
                <legend>
                    Login to your account
                </legend>
                <div class="form-floating mb-3">
                    <input asp-for="Username" type="text" class="form-control" placeholder="Username">
                    <label asp-for="Username"></label>
                    <span class="form-validation-msg" asp-validation-for="Username"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                    <label asp-for="Password"></label>
                    <span class="form-validation-msg" asp-validation-for="Password"></span>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Default checkbox
                    </label>
                </div>
                <button class="action-btn" type="submit">LOGIN</button>
            </form>
        </div>
    </div>