<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

	<title>The Store - Auth</title>

	<link rel="icon" type="image/x-icon" href="~/favicon.ico" />
	<link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
	
	<partial name="_Styles" />
</head>
<body>
	@RenderBody()

	<partial name="_Scripts" />
	@RenderSection("scripts", required: false)
</body>
</html>
