@using Duende.IdentityServer.Extensions
@{
	string name = null;
	if (!true.Equals(ViewData["signed-out"]))
	{
		name = Context.User?.GetDisplayName();
	}
}

<header id="top-header">
	<nav class="top-navbar">
		<div class="logo-container">
			<partial name="_Logo" />
		</div>
		<ul class="top-navbar-inner">
			@if (User.Identity.IsAuthenticated == false)
			{
				<li>
					<a asp-page="/Account/Login/Index">Login</a>
				</li>
				<li>
					<a asp-page="/Account/Register/Index">Register</a>
				</li>
			}
			else
			{
				<form method="post" asp-page="/Account/Logout/Index">
					<button type="submit">Logout</button>
				</form>
			}
		</ul>
	</nav>
</header>

