@using TheStore.Blazor.Models.Products;

<article class="cart-item" @attributes="OtherAttributes">
	<div class="cart-item-inner">
		<img loading="lazy" class="cart-item-image" src="https://placehold.co/600x400.png" alt="Item image" />
		<div class="cart-item-content">
			@* TODO: Inlcude product category and variants in dto *@
			<div class="cart-item-content-inner">
				<span class="cart-item-info cart-item-info-name">@Item.Name</span>
				<span class="cart-item-info cart-item-info-cateogry">Desk Items</span>
				<span class="cart-item-info cart-item-info-variant">Black/White</span>
				<div class="cart-item-info">
					<Select class="cart-item-quantity" @bind-Value="Quantity">
						<SelectOption Value="1" Text="1" />
						<SelectOption Value="2" Text="2" />
						<SelectOption Value="3" Text="3" />
					</Select>
				</div>
				<div class="cart-item-info mt-4">
					<button class="me-2" type="button">
						<i class="lar la-heart la-2x"></i>
					</button>
					<button type="button">
						<i class="las la-trash la-2x"></i>
					</button>
				</div>
			</div>
			<span class="cart-item-price">@Item.Price.ToString()</span>
		</div>
	</div>
</article>

@code {
	[Parameter]
	public ProductDto Item { get; set; }

	[Parameter(CaptureUnmatchedValues = true)]
	public Dictionary<string, object> OtherAttributes { get; set; }

	private int Quantity { get; set; } = 1;
}