<div id="promo">
	<div class="d-flex w-100">
		<input id="promo-field" placeholder="Promo Code" type="text" value="" />
		<button class="action-btn action-btn--secondary" id="apply-promo-btn" type="button">Apply</button>
	</div>
</div>

@code {

}