@using TheStore.Web.Blazor.Shared.Nav
@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<Navbar />
<Announcements />

<main>
	@Body
</main>

<Footer />
