<div class="container-fluid">
	<div class="row-cols-1">
		<div class="d-flex flex-column my-5">
			<img class="img-fluid m-auto" style="height:23em;" src="@ImageUrl" alt="@ImageAlt" />
			<p class="text-center my-4">@((MarkupString)Message)</p>
		</div>
	</div>
</div>

@code {
	[Parameter]
	public string ImageUrl { get; set; }
		
	[Parameter]
	public string ImageAlt { get; set; }

	[Parameter]
	public string Message { get; set; }
}
