@using TheStore.Web.Helpers;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <partial name="Styles" />
    @await RenderSectionAsync("Styles", required: false)
    <title>@ViewData["Title"] - @SiteInfo.SiteName</title>
</head>
<body>
    <partial name="Nav/Navbar" />

    <div class="main-container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <partial name="Footer" />

    <partial name="Scripts" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>