@page "/catalog/{catalogName?}/{manufacturer?}/{priceRange?}/{sortDirection?}/{page:int?}"
@using TheStore.Blazor.Models.Products;
@using TheStore.Blazor.Models.ValueObjectsDtos;
@using TheStore.Web.Blazor.Helpers;
@using TheStore.Web.Blazor.Pages.Catalog.Components
@using TheStore.Web.Blazor.Shared.Result

<CatalogHeader Header="@CatalogName" Description="@CatalogDescription" />

<div class="container my-5">
	<div class="row">
		@if (dataLoading)
		{
			<ProductCardsSkeleton />
		}
		else if (products.Count > 0)
		{
			@foreach (var product in products)
			{
				var productMainImage = product.GetMainColor().GetMainImage();

				<div class="col-12 col-md-6 col-lg-4">
					<ProductCard @key="product.ProductId"
								 Product="product" />
				</div>
			}

			<div class="col-12 position-sticky" style="bottom:1em;z-index:3;">
				<CatalogPagination CurrentPage="Page"
								   NumberOfPages="numberOfPages"
								   OnNavigateToPreviousPage="NavigateToPreviousPage"
								   OnNavigateToNumberedPage="NavigateToNumberedPage"
								   OnNavigateToNextPage="NavigateToNextPage" />
			</div>
		}
		else
		{
			<div class="col-12 col-lg-6 offset-lg-3">
				<Result Type="ResultType.NoProducts"
						Message="No products available with the current filter" />
			</div>
		}
	</div>
</div>

@code {
	[Parameter]
	public string? CatalogName { get; set; }
	public string? CatalogDescription { get; set; }

	[Parameter]
	public string? Manufacturer { get; set; }

	[Parameter]
	public string? PriceRange { get; set; }

	[Parameter]
	public string? SortDirection { get; set; }

	[Parameter]
	public int Page { get; set; }

	private int take { get; set; } = 6;
	private int count { get; set; }
	private int numberOfPages => (int)Math.Ceiling(count / (decimal)take);

	private bool dataLoading = true;

	// Warning: For testing only!
	private List<ProductDto> dataSource { get; set; } = new();
	private List<ProductDto> products { get; set; } = new();

	protected override void OnParametersSet()
	{
		CatalogName = CatalogName ?? "Product Catalog";
		CatalogDescription = CatalogDescription ?? "A variety of products to choose from!";

		SortDirection = SortDirection ?? "asc";
		Page = Page == default ? 1 : Page;

		InitDataSource();
		count = dataSource.Count;
	}

	protected async override Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			// Simulate the loading process process
			await Task.Delay(3000);

			dataLoading = false;

			QueryDataSource(1, 6);

			if (ShouldRender())
			{
				StateHasChanged();
			}
		}
	}

	private void InitDataSource()
	{
		dataSource.Clear();

		for (int i = 0; i < 15; i++)
		{
			dataSource.Add(DummyDataHelper.GenerateDummyProduct());
		}
	}

	private void QueryDataSource(int page, int take)
	{
		products = dataSource.Skip((page - 1) * take).Take(take).ToList();
	}

	private void NavigateToNumberedPage(int page)
	{
		Page = page;

		QueryDataSource(Page, take);

		if (ShouldRender())
		{
			StateHasChanged();
		}
	}

	private void NavigateToNextPage()
	{
		QueryDataSource(++Page, take);

		if (ShouldRender())
		{
			StateHasChanged();
		}
	}

	private void NavigateToPreviousPage()
	{
		QueryDataSource(--Page, take);

		if (ShouldRender())
		{
			StateHasChanged();
		}
	}
}
