<section id="hero">
    <div class="hero-container">
        <div class="hero-text">
            <img class="me-auto" src="/media/system/star.svg" alt="Star illustration" />
            <img class="ms-auto me-5" style="transform:rotate(190deg);" src="/media/system/fun-arrow.svg" alt="Arched arrow illustration" />
            <h1 class="mt-0">
                Innovative designs and high quality materials
            </h1>
            <p>
                We have one of the biggest collections of furniture sets in the country, shipped to you anywhere in Syria.
            </p>
        </div>
        <div class="hero-img">
            <img src="https://placehold.co/1280x720.png" alt="Hero Image" />
        </div>
    </div>
</section>

@code {

}