<section id="who-we-are">
	<div class="container-fluid">
		<div class="row row-cols-1 row-cols-lg-2">
			<div class="col offset-lg-3">
				<h2>Who We Are</h2>
				<hr class="horizontal-separator bg-yellow mx-auto" />
				<p>
					We are one of the leading furniture companies in Syria,
					we provide home furnishing services, interior design services,
					assembly and delivery services.
				</p>
			</div>
		</div>
	</div>
</section>

@code {

}
