<section id="hero">
    <div class="hero-container">
        <div class="hero-text">
            <h1>
               Innovative designs and high quality materials
            </h1>
            <p>
               We have one of the biggest collections of furniture sets in the country, shipped to you anywhere in Syria.
            </p>
        </div>
        <div class="hero-img">
            <img src="/img/app/hero-img.jpg" alt="Hero Image" />
        </div>
    </div>
</section>