<article class="product-card product-card--skeleton placeholder-glow">
	<div Class="placeholder product-card-image"></div>
	<article class="product-card-body">
		<header class="product-card-body-title">
			<div class="placeholder" style="Width:50%;height:2em;"></div>
		</header>
		<article class="product-card-body-desc">
			<div class="placeholder placeholder-lg" style="Width:100%"></div>
			<div class="placeholder placeholder-lg" style="Width:100%"></div>
			<div class="placeholder placeholder-lg" style="Width:80%"></div>
		</article>
	</article>
</article>