<article class="product-review product-review--skeleton placeholder-glow">
	<header class="product-review-title placeholder" style="width:100%;height:2em;"></header>
	<div class="product-review-info w-100">
		<div class="product-review-info-meta w-100">
			<span class="product-review placeholder" style="width:20%;height:2em;"></span>
			<span class="product-review-meta-user placeholder" style="width:20%;height:2em;"></span>
			<span class="mx-2">-</span>
			<span class="product-review-meta-date placeholder" style="width:20%;height:2em;"></span>
		</div>
	</div>
	<div class="product-review-body placeholder" style="width:100%;height:6em;"></div>
</article>