<div class="container my-5">
	<div class="row">
		<div class="col-12 col-lg-6">
			<div class="product-images placeholder-glow">
				<div class="placeholder placeholder-lg mb-4"
					 style="Height:20em;width:100%"></div>
				<div class="placeholder placeholder-lg"
					 style="Height:5em;width:100%"></div>
			</div>
		</div>
		<div class="col-12 col-lg-6 px-5">
			<div class="product-details placeholder-glow">
				<div class="info-cell">
					<div class="placeholder placeholder-lg" style="Height:5em;Width:90%;"></div>
				</div>
				<div class="info-cell">
					<div class="placeholder placeholder-lg" style="Height:3em;Width:70%;"></div>
				</div>
				<div class="info-cell">
					<div class="placeholder placeholder-lg" style="Height:2em;Width:30%;"></div>
				</div>
				<div class="info-cell">
					<div Class="placeholder placeholder-lg me-2" style="Height:2.5em;Width:2.5em;"></div>
					<div Class="placeholder placeholder-lg me-2" style="Height:2.5em;Width:2.5em;"></div>
					<div Class="placeholder placeholder-lg me-2" style="Height:2.5em;Width:2.5em;"></div>
					<div Class="placeholder placeholder-lg me-2" style="Height:2.5em;Width:2.5em;"></div>
					<div Class="placeholder placeholder-lg me-2" style="Height:2.5em;Width:2.5em;"></div>
					<div Class="placeholder placeholder-lg me-2" style="Height:2.5em;Width:2.5em;"></div>
					<div Class="placeholder placeholder-lg me-2" style="Height:2.5em;Width:2.5em;"></div>
				</div>
				<div class="info-cell">
					<div Class="placeholder placeholder-lg" style="Height:4em;Width:100%;"></div>
				</div>
				<div class="info-cell">
					<div Class="placeholder placeholder-lg" style="Height:4em;Width:100%;"></div>
				</div>
				<div class="info-cell">
					<div Class="placeholder placeholder-lg" style="Height:2em;Width:30%;"></div>
				</div>
				<div class="info-cell">
					<div Class="placeholder placeholder-lg" style="Height:15em;Width:100%;"></div>
				</div>
			</div>
		</div>
	</div>
</div>