@using TheStore.SharedModels.Models.ValueObjectsDtos
@using TheStore.Web.BlazorApp.Client.Shared

<article class="size-selector">
	<header>
		<h6>Sizes</h6>
		<span>
			<Select T="string" DisplayText="Select standard" @bind-Value="Standard">
				@foreach (var standard in Standards)
				{
					<SelectOption T="string" Value="standard.ToString()" Text="EU Size Standard" />
				}
			</Select>
		</span>
	</header>
	<article class="size-selector-inner">
		@foreach (var size in SizesOfStandard)
		{
			<button class="size-btn" type="button">@size.Value</button>
		}
	</article>
</article>

@code {
	[Parameter]
	public List<SizeDto> Sizes { get; set; }

	[Parameter]
	public EventCallback<SizeDto> SizeChosen { get; set; }

	[Parameter]
	public EventCallback<SizeDto> StandardChosen { get; set; }

	private List<SizeStandardDto> Standards =>
			Sizes.Select(s => s.Standard).ToList();

	private List<SizeDto> SizesOfStandard =>
			Sizes.Where(s => s.Standard.Value == Standard).ToList();

	private string Standard { get; set; }
}