<article class="branch-item">
	<img class="swiper-lazy" loading="lazy" src="https://placehold.co/600x400.png" alt="Branch 1" />
	<div class="swiper-lazy-preloader"></div>
	<div class="branch-content">
		<h3>
			Branch 1
		</h3>
		<p>
			Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
		</p>
	</div>
</article>

@code {

}
