<header id="top-header">
	<nav class="top-navbar">
		<div class="mr-auto">
			<Logo />
		</div>
		<ul class="top-navbar-inner">
			<li>
				<NavLink ActiveClass="active" href="/catalog">Catalog</NavLink>
			</li>
			<li>
				<NavLink ActiveClass="active" href="/contact">Contact</NavLink>
			</li>
			<li>
				<NavLink ActiveClass="active" href="/about">About</NavLink>
			</li>
			<li>
				<hr class="vertical-separator" />
			</li>
			<li>
				<AuthorizeView>
					<Authorized>
						<span>Hello @(context.User?.Identity?.Name)!</span>
						<NavLink href="/user/profile">Profile</NavLink>
						<NavLink href="/user/logout">Logout</NavLink>
					</Authorized>
					<NotAuthorized>
						<NavLink href="/auth/login">Login</NavLink>
						<NavLink href="/auth/register">Register</NavLink>
					</NotAuthorized>
				</AuthorizeView>
			</li>
		</ul>
	</nav>
</header>

@code {

}
