@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<h1>Hey you're here!</h1>
<p>
	Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
</p>

@code {

}
