/*===Width===*/
.w-100 {
    width: 100%;
}

.w-lg-100 {
    @include md {
        width: 100%;
    }
}

.w-60 {
    width: 60%;
}

.w-lg-60 {
    @include lg {
        width: 60%;
    }
}

.w-40 {
    width: 40%;
}

/*===Colors===*/
.bg-yellow {
    background-color: $accent1;
}