<ul class="profile-options">
	<li active-when="/Account/Profile/Information" active-class="profile-options--active" class="profile-options">
		<a asp-page="/Account/Profile/Information/Index">Information</a>
	</li>
	<li active-when="/Account/Profile/Password" active-class="profile-options--active" class="profile-options">
		<a asp-page="/Account/Profile/Password/Index">Password</a>
	</li>
	<li active-when="/Account/Profile/TwoFactorAuthentication" active-class="profile-options--active" class="profile-options">
		<a asp-page="/Account/Profile/TwoFactorAuthentication/Index">Two Factor Authentication</a>
	</li>
	<li active-when="/Account/Profile/ManageAccount" active-class="profile-options--active" class="profile-options">
		<a asp-page="/Account/Profile/ManageAccount/Index">Account</a>
	</li>
	<li active-when="/Account/Profile/YourData" active-class="profile-options--active" class="profile-options">
		<a asp-page="/Account/Profile/YourData/Index">Your Data</a>
	</li>
</ul>