@using TheStore.SharedModels.Models.Products;

<article class="product-card">
	<img src="" alt="" />
	<article>
		<header></header>
		<p></p>
	</article>
</article>

@code {
	[Parameter] public SingleProductDto Product { get; set; }
}