@using TheStore.Blazor.Models.ValueObjectsDtos;
@using TheStore.Web.Blazor.Models;

<div class="color-selector @GetSizeClass(ControlSize)">
	@foreach (var color in ProductColors)
	{
		<button class="color-selection @(activeColor == color.ColorCode ? "active" : "")"
				type="button"
				style="background:@color.ColorCode"
		@onclick="() => ChooseColor(color.ColorCode)"
		@key="color.ColorCode"></button>
	}
</div>

@code {
	[Parameter]
	public List<ProductColorDto> ProductColors { get; set; } = new();

	[Parameter]
	public EventCallback<string> ColorChosen { get; set; }

	[Parameter]
	public ControlSize ControlSize { get; set; } = ControlSize.Small;

	private string activeColor { get; set; }

	protected override void OnInitialized()
	{
		activeColor = ProductColors.First().ColorCode;
	}

	private string GetSizeClass(ControlSize controlSize) => controlSize switch
	{
		ControlSize.Small => "color-selector--small",
		ControlSize.Normal => "color-selector--normal",
		ControlSize.Large => "color-selector--large",
		_ =>  "color-selector--small"
	};

	private async Task ChooseColor(string colorCode)
	{
		await ColorChosen.InvokeAsync(colorCode);

		activeColor = colorCode;

		if (ShouldRender())
		{
			StateHasChanged();
		}
	}
}