<div class="container my-5">
	<div class="row">
		<div class="col-12 col-lg-6">
			<div class="product-images">
				<MudSkeleton SkeletonType="SkeletonType.Rectangle"
							 Height="20em"
							 Class="mb-4" />
				<MudSkeleton SkeletonType="SkeletonType.Rectangle"
							 Height="5em" />
			</div>
		</div>
		<div class="col-12 col-lg-6 px-5">
			<div class="product-details">
				<div class="info-cell">
					<MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="4em" Width="90%" />
				</div>
				<div class="info-cell">
					<MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="3em" Width="70%" />
				</div>
				<div class="info-cell">
					<MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="2em" Width="50%" />
				</div>
				<div class="info-cell">
					<MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="4em" Width="100%" />
				</div>
				<div class="info-cell">
					<MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="4em" Width="100%" />
				</div>
				<div class="info-cell">
					<MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="2em" Width="50%" />
				</div>
				<div class="info-cell">
					<MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="2em" Width="50%" />
				</div>
			</div>
		</div>
	</div>
</div>