$la-font-path: "../../wwwroot/lib/line-awesome/dist/line-awesome/fonts";

/*===Fonts===*/
$mainFont: 'Poppins', sans-serif;

/*===Breakpoints===*/

/*Layout*/
$contentTopMargin: 15em;

/*===Navbar===*/
$navLinksColor: #FFF;

/*===Logo===*/
$logoColor: #E5BE3F;
$logoBackColor: #FFFFFF;
