::selection {
    background-color: $accent1;
    color: $accent2;
}

::-moz-selection {
    background-color: $accent1;
    color: $accent2;
}

::-o-selection {
    background-color: $accent1;
    color: $accent2;
}

::-ms-selection {
    background-color: $accent1;
    color: $accent2;
}

::-webkit-selection {
    background-color: $accent1;
    color: $accent2;
}

*:disabled, .disabled, *[disabled] {
    cursor: not-allowed;

    * {
        cursor: not-allowed;
    }
}

html, body {
    font-family: $mainFont !important;
    font-size: 1em !important;
    display: flex;
    flex-flow: column;
}

#app {
    width: 100%;
    display: flex;
    flex-flow: column;
}

main {
    display: flex;
    flex-flow: column;
    width: 100%;
    flex: 1;
}

a {
    text-decoration: none;
    color: black;
    margin: 0;
}

input, textarea {
    border: none;
}

button {
    border: none;
    background: none;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: .5em 0;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

ul {
    list-style: initial;
}

/*===Swiper===*/

.swiper-pagination, .swiper-button-prev, .swiper-button-next {
    color: $accent3 !important;
}

.swiper-pagination-bullet-active {
    background-color: $accent3 !important;
}
