/*===Base Colors===*/
$accent1: #E5BE3F;
$accent2: #FFFFFF;
$accent3: #000000;
$accent4: #F7F7F7;

/*===CSS Colors===*/
:root {
    --product-card-box-shadow-color: #{$accent3};
}


/*===Navbar===*/
$navLinksColor: $accent3;

/*===Logo===*/
$logoColor: $accent1;
$logoBackColor: $accent2;

/*===Forms===*/
$formInputBorderColor: $accent3;
$formLabelColor: $accent2;
$formLabelBackColor: $accent3;
