/*===Base Colors===*/
$accent1: #E5BE3F;
$accent2: #FFFFFF;
$accent3: #000000;
$accent4: #abb7b7;

/*===Navbar===*/
$navLinksColor: $accent2;

/*===Logo===*/
$logoColor: $accent1;
$logoBackColor: $accent2;

/*===Forms===*/
$formInputBorderColor: $accent3;
$formLabelColor: $accent2;
$formLabelBackColor: $accent3;
