/*===Separators===*/
.vertical-separator {
    width: .2em;
    height: 2em;
    background: $accent2;
    margin: 0;
    border-radius: 1em;
}

.horizontal-separator {
    width: 5em;
    height: .5em;
    background-color: $accent2;
    margin: .5em 0 2em;
    border-radius: 1em;
}

.separator-with-text {
    display: flex;
    align-items: center;
    width: 100%;
    margin: .5em 0;

    .separator-text {
        margin: 0 .5em;
        font-weight: bold;
    }

    &:before, &:after {
        display: inline-block;
        content: '';
        width: 100%;
        height: 2px;
        background: $accent4;
    }
}


/*===Buttons===*/
.action-btn {
    display: block;
    color: $accent2;
    padding: 1em 2em;
    border-radius: $globalBorderRadius;
    transition: $globalTransitionDuration ease-in-out background;
    width: 100%;
}

.action-btn-primary {
    @extend .action-btn;
    @include makeButtonHoverable($accent1);
}

.action-btn-secondary {
    @extend .action-btn;
    @include makeButtonHoverable($accent4);
}

/*===Links===*/

.link-primary {
    @include makeLinkHoverable($accent1);
}

/*===Alerts===*/
.c-alert {
    border-radius: $globalBorderRadius;
    color: $accent2;
    padding: .5em 1em;
    display: flex;
    align-items: center;

    &.c-alert-danger {
        background: red;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            &:before {
                display: inline-block;
                @include makeSolidIcon($la-times-circle);
                margin: 0 .5em 0 0;

                [lang=ar] & {
                    margin: 0 0 0 .5em;
                }
            }
        }
    }
}
