@use 'sass:color';

.vertical-separator {
    width: .2em;
    height: 2em;
    background: white;
    margin: 0;
    border-radius: 1em;
}

.horizontal-separator {
    width: 5em;
    height: .5em;
    background-color: white;
    margin: .5em 0 2em;
    border-radius: 1em;
}

.content-container {
    margin-top: $contentTopMargin;
    width: 100%;
    height: auto;
}

.action-btn {
    background: $logoColor;
    color: $logoBackColor;
    padding: 1em 2em;
    border-radius: .5em;
    transition: .2s ease-in-out background;

    &:hover {
        background: color.adjust($logoColor, $lightness: -10%);
    }
}
