@use "sass:color";

/*===Separators===*/
.vertical-separator {
    @include addSeparator("right", 1em);
}

.horizontal-separator {
    width: 5em;
    height: .5em;
    background-color: $accent2;
    margin: .5em 0 2em;
    border-radius: 1em;
}

.separator-with-text {
    display: flex;
    align-items: center;
    width: 100%;
    margin: .5em 0;

    .separator-text {
        margin: 0 .5em;
        font-weight: bold;
    }

    &:before, &:after {
        display: inline-block;
        content: '';
        width: 100%;
        height: 2px;
        background: $accent4;
    }
}

/*===Buttons===*/
.action-btn {
    display: flex;
    align-items: center;
    color: $accent2 !important;
    padding: 1em 2em;
    border-radius: $globalBorderRadius;
    transition: $globalTransition background;

    &--block {
        width: 100%;
    }

    &--small {
        padding: .5em;
    }

    &--primary {
        @include makeButtonHoverable($accent1);

        &:disabled {
            background: color.scale($accent1, $lightness: -30%);
        }
    }

    &--secondary {
        background-color: white;
        color: black;
        border: 1px solid $accent1;

        span, i {
            color: black;
        }

        &:hover {
            border: 1px solid color.scale($accent1, $lightness: -50%);
        }

        &:disabled {
            background-color: $accent4;
        }
    }

    &--tertiary {
        @include makeButtonHoverable($accent3);

        &:disabled {
            background: color.scale($accent3, $lightness: -30%)
        }
    }
}

.action-btn-group {
    display: inline-flex;

    .action-btn {
        border-radius: 0;

        &:first-child {
            border-top-left-radius: $globalBorderRadius;
            border-bottom-left-radius: $globalBorderRadius;
        }

        &:last-child {
            border-top-right-radius: $globalBorderRadius;
            border-bottom-right-radius: $globalBorderRadius;
        }
    }
}

/*===Links===*/
.link-primary {
    @include makeLinkHoverable($accent1);
}

/*===Alerts===*/
.c-alert-notification-container {
    display: flex;
    flex-flow: column wrap;
    position: absolute;
    width: 30%;
    max-height: 95vh;

    .c-alert {
        margin: .5em 0 0 .5em;
    }
}

.c-alert {
    border-radius: $globalBorderRadius;
    color: $accent2;
    padding: .5em 1em .5em 1em;
    display: flex;
    align-items: center;
    max-width: 100%;

    [lang=ar] & {
        padding: .5em 1em .5em 1em;
    }

    &.c-alert-danger {
        background-color: red;
    }

    &.c-alert-success {
        background-color: green;
    }

    &.c-alert-warning {
        background-color: orange;
    }

    &.c-alert-info {
        background-color: dodgerblue;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            &:before {
                display: inline-block;
                @include makeSolidIcon($la-times-circle);
                margin: 0 .5em 0 0;

                [lang=ar] & {
                    margin: 0 0 0 .5em;
                }
            }
        }
    }

    &.c-alert-notification {
        box-shadow: 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.053), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.077), 100px 100px 80px rgba(0, 0, 0, 0.13);

        .c-alert-icon {
            margin-right: .3em;
        }

        .c-alert-message {
            margin: 0 .5em 0 0;
            text-align: left;
        }

        .c-alert-close {
            color: white;
            margin: 0 0 0 auto;
        }

        [lang=ar] & {
            .c-alert-icon {
                margin-left: .3em;
            }

            .c-alert-message {
                margin: 0 0 0 .5em;
                text-align: right;
            }

            .c-alert-close {
                margin: 0 auto 0 0;
            }
        }
    }
}

/*===Results===*/
.result {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 3em auto;
    width: 13em;

    .result-image {
        width: 100%;
        height: auto;
    }
}

#announcements {
    padding: 1em;
    background: $accent4;
    text-align: center;
    transition: transform $globalTransition;
    position: relative;
    z-index: 1;

    &.nav-search-expanded {
        transform: translateY(-200%);
    }
}

#cart {
    position: relative;
    display: flex;

    #cart-count {
        position: absolute;
        z-index: 2;
        bottom: 0;
        right: 0;
        font-size: .8em;
        border-radius: calc($globalBorderRadius/4);
        background: $accent1;
        width: 1.3em;
        height: 1.3em;
    }
}
