.footer {
    margin-top: auto;
    background: black;
    padding: 3em;
    color: white;

    .footer-info {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        text-align: center;

        @include lg {
            flex-flow: row wrap;
            justify-content: space-between;
            text-align: initial;
        }

        .author {
            color: $logoColor;
        }
    }
}
