/*===Width===*/

.w-40 {
    width: 40%;
}

.w-60 {
    width: 60%;
}

.w-lg-100 {
    width: auto;

    @include md {
        width: 100%;
    }
}

/*===Width===*/

/*===Margin===*/
.mx-auto {
    margin: 0 auto !important;
}


/*===Padding===*/

.p-3e {
    padding: 3em;
}

.p-4e {
    padding: 4em;
}

.p-5e {
    padding: 5em;
}

/*===Padding===*/

/*===Colors===*/

.bg-yellow {
    background-color: $logoColor !important;
}

/*===Colors===*/
