#hero {
    height: 100vh;
    width: 100%;

    .hero-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row;
        align-items: center;

        .hero-text {
            display: flex;
            flex-flow: column wrap;
            padding: 0 4em;
            width: 100%;
            text-align: center;

            @include md {
                width: 40%;
                text-align: left;
            }

            p {
                font-size: 1.2em;
            }
        }

        .hero-img {
            display: none;

            @include md {
                display: block;
                width: 60%;
                height: 100%;
                overflow: hidden;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

#who-we-are {
    background-color: black;
    padding: 5em;
    color: $accent2;

    h2, p {
        text-align: center;
    }

    p {
        font-size: 1.2em;
    }
}

#branches {
    background: $logoColor;
    padding: 2.5em 0;

    header {
        text-align: center;
        margin-bottom: .5em;
    }

    #branches-carousel {
        padding: 2em 3em 3em;

        .branch-item {
            width: 100%;
            margin: auto;
            overflow: hidden;
            border-radius: 50px;
            background: linear-gradient(145deg, #f5cb43, #ceab39);
            box-shadow: 17px 17px 34px #c3a236, -17px -17px 34px #ffdb48;

            img {
                width: 100%;
                height: 20em;
                object-fit: cover;
            }

            .branch-content {
                padding: 2em;
            }
        }
    }
}
