@use 'sass:color';

// Small devices
@mixin sm {
    @include breakpoint(min-width $screen-sm-min) {
        @content;
    }
}

// Medium devices
@mixin md {
    @include breakpoint(min-width $screen-md-min) {
        @content;
    }
}

// Large devices
@mixin lg {
    @include breakpoint(min-width $screen-lg-min) {
        @content;
    }
}

// Extra large devices
@mixin xl {
    @include breakpoint(min-width $screen-xl-min) {
        @content;
    }
}

@mixin line-truncate ($numOfLines: 1) {
    display: -moz-box;
    display: -webkit-box;
    line-clamp: $numOfLines;
    -webkit-line-clamp: $numOfLines;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@mixin makeSolidIcon($icon) {
    @extend .las;
    content: la-content($icon);
}

@mixin makeBrandIcon($icon) {
    @extend .las;
    content: la-content($icon);
}

@mixin makeButtonHoverable($backColor) {
    background: $backColor;

    &:hover {
        background: color.adjust($backColor, $lightness: -10%);
    }
}

@mixin makeLinkHoverable($color) {
    color: $color !important;

    &:hover {
        color: color.adjust($color, $lightness: -10%) !important;
    }
}

@mixin makeUnselectable() {
    user-select: none;
}

@mixin makeUnclickable() {
    pointer-events: none;
}

@mixin addSeparator($direction) {
    @if $direction == right {
        display: flex;

        &:after {
            display: inline-block;
            content: '';
            width: .2em;
            height: 1em;
            background: color.scale($accent2, $lightness: -60%);
            margin: auto 1em auto 1em;
            border-radius: 1em;
        }
    }
    @else {
        &:before {
            display: inline-block;
            content: '';
            width: .2em;
            height: 1em;
            background: color.scale($accent2, $lightness: -60%);
            margin: auto 1em auto 1em;
            border-radius: 1em;
        }
    }
}
