// Small devices
@mixin sm {
    @include breakpoint(min-width $screen-sm-min) {
        @content;
    }
}

// Medium devices
@mixin md {
    @include breakpoint(min-width $screen-md-min) {
        @content;
    }
}

// Large devices
@mixin lg {
    @include breakpoint(min-width $screen-lg-min) {
        @content;
    }
}

// Extra large devices
@mixin xl {
    @include breakpoint(min-width $screen-xl-min) {
        @content;
    }
}

@mixin line-truncate ($numOfLines: 1) {
    display: -webkit-box;
    -webkit-line-clamp: $numOfLines;
    -webkit-box-orient: vertical;
    overflow: hidden;
}