#top-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 15000; 

    .top-navbar {
        padding: 1.7em 8em;
        background: black;
        display: flex;
        flex-flow: row;
        background: rgba(#000000,0.2);

        .logo {
            font-weight: bold;
            font-size: 1.5em;
            letter-spacing: 2px;
            margin-right: auto;
            color: $logoColor;
            background-color: $logoBackColor;
            padding: .25em .5em;
            border-radius: 1em;
        }

        .top-navbar-inner {
            padding: 0;
            margin: 0;
            display: flex;
            flex-flow: row;
            align-items: center;
            list-style: none;

            li {
                a {
                    color: $navLinksColor;
                }

                &:not(:last-of-type) {
                    margin-right: 1em;
                }
            }
        }
    }
}
