.logo {
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: 2px;
    color: $accent1;
    background-color: $accent2;
    padding: .25em .5em;
    border-radius: $globalBorderRadius;
    pointer-events: none;
}

#top-header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 15000;

    .top-navbar {
        padding: 1.7em $layoutHorizontalPadding;
        display: flex;
        flex-flow: row;
        background: rgba($accent3,0.2);

        .top-navbar-inner {
            padding: 0;
            margin: 0;
            display: flex;
            flex-flow: row;
            align-items: center;
            list-style: none;

            li {
                a {
                    color: $navLinksColor;
                }

                &:not(:last-of-type) {
                    margin-right: 1em;
                }
            }
        }
    }
}
