@use "sass:color";

.logo {
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: 2px;
    color: $accent1;
    background-color: $accent2;
    padding: .25em .5em;
    border-radius: $globalBorderRadius;
    border: $globalNavItemBorderWidth solid $accent4;
}

#upper-navbar {
    display: flex;
    align-items: center;
    padding: .2em $layoutHorizontalPadding;
    background: $accent4;
    transition: transform $globalTransition;
    height: 2em;
    position: relative;
    z-index: 15000;

    &.nav-search-expanded {
        transform: translateY(-100%);
    }

    .upper-navbar-section {
        display: flex;
        align-items: center;
        margin-left: auto;
        font-size: .8em;

        a, button {
            font-weight: bold;

            &:not(:last-child) {
                @include addVerticalSeparator("right", 1em);
            }
        }
    }
}

#top-header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 15000;

    #navbar {
        padding: .5em $layoutHorizontalPadding;
        display: flex;
        flex-flow: row;
        align-items: center;
        background: white;
        transition: transform $globalTransition;
        height: 4em;
        width: 100%;

        .navbar-inner {
            padding: 0;
            margin: 0;
            display: flex;
            flex-flow: row;
            width: 100%;
            align-items: center;
            list-style: none;

            li {
                &:not(:last-of-type) {
                    margin-right: .5em;
                }

                &.nav-item-search {
                    width: 15em;
                    transition: width $globalTransition;
                    transform-origin: right;
                }
            }
        }

        &.nav-search-expanded {

            &:not(.nav-detached) {
                transform: translateY(-2em);
            }

            .navbar-inner {
                li {
                    &.nav-item:not(.nav-item-search) {
                        display: none;
                    }

                    &.nav-item-search {
                        width: 40em;
                        margin: auto;
                    }
                }
            }
        }

        &.is-hidden {
            transform: translateY(-100%);
        }
    }
}

.global-search {
    display: flex;
    border-radius: $globalBorderRadius;
    padding: $globalVerticalNavItemPadding;
    background: $accent4;
    overflow: hidden;
    transition: background $globalTransition;
    width: 100%;
    height: $globalNavItemHeight;

    &:hover {
        background: color.scale($accent4, $lightness: -5%);
    }

    .global-search-field {
        background: transparent;
        outline: none;
        width: 100%;
    }

    .global-search-btn {
        background: transparent;
        border-radius: 50%;
        margin-right: .5em;
    }
}

#cart {
    position: relative;

    #cart-btn {
        position: relative;
        display: flex;
        text-align: center;

        #cart-count {
            position: absolute;
            z-index: 2;
            bottom: 0;
            right: 0;
            font-size: .8em;
            border-radius: calc($globalBorderRadius/2);
            background: $accent1;
            width: 1.3em;
            height: 1.3em;
        }
    }

    #cart-info {
        position: absolute;
        top: 120%;
        right: 0;
        display: flex;
        flex-flow: column;
        width: 25em;
        border-radius: $globalBorderRadius;
        overflow: hidden;
        padding: 1em;
        background: $accent4;

        .cart-item-mini {
            display: flex;
            flex-flow: column;
            margin-bottom: 1.5em;

            .cart-item-mini-inner {
                display: flex;
                justify-content: space-between;
            }

            .item-image {
                width: 6em;
                height: 6em;
                margin-right: 1em;
                border-radius: $globalBorderRadius;
            }

            .cart-item-mini-info {
                display: flex;
                flex-flow: column;
                flex: 1;

                .info-item:not(:last-of-type) {
                    display: block;
                    margin-bottom: .5em;

                    &.item-title {
                        font-weight: bold;
                    }

                    &:not(.item-title,.item-price) {
                        color: gray;
                    }
                }
            }
        }
    }
}

.nav-btn {
    border-radius: $globalBorderRadius;
    color: $navLinksColor;
    border: $globalNavItemBorderWidth solid $accent4;
    height: $globalNavItemHeight;
    padding: 0 .5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.nav-active {
    border-color: color.scale($accent4, $lightness: -15%);
}
